<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViralFission Chat App</title>
    <link rel="stylesheet" th:href="@{/design.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
    <section class="chat-area">
        <header>
            <a href="/user/" class="back-icon"><i class="fas fa-arrow-left"></i></a>
            <div class="details">
                <span class="chat-name">ViralFission</span>
            </div>
        </header>
        <div class="chat-box">
            <div class="chat outgoing">
                <div class="details">
                    <p>Hello!</p>
                </div>
            </div>
            <div class="chat incoming">
                <div class="details">
                    <p>Hi!</p>
                </div>
            </div>
            <div class="chat outgoing">
                <div class="details">
                    <p>How are you?</p>
                </div>
            </div>
            <div class="chat incoming">
                <div class="details">
                    <p>I am doing very well. How are you?</p>
                </div>
            </div>
            <div class="chat outgoing">
                <div class="details">
                    <p>I am good. Are you attending the seminar?</p>
                </div>
            </div>
            <div class="chat incoming">
                <div class="details">
                    <p>Yes. What about you?</p>
                </div>
            </div>
            <div class="chat outgoing">
                <div class="details">
                    <p>Me too. See you there.</p>
                </div>
            </div>
            <div class="chat incoming">
                <div class="details">
                    <p>See you!</p>
                </div>
            </div>
            <form action="#" class="typing-area">
                <input type="text" placeholder="Type a message here...">
                <button><i class="fab fa-telegram-plane"></i></button>
            </form>
        </div>
    </section>
</div>
</body>
</html>