<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViralFission Chat App</title>
    <link rel="stylesheet" th:href="@{/design.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
    <section class="users">
        <header>
            <div class="content">
                <div class="details">
                    <span>ViralFission</span>
                </div>
            </div>
            <a href="/logout" class="logout">Logout</a>
        </header>
        <div class="space"></div>
        <div class="users-list" th:each = "contact: ${contacts}">
            <a th:href="@{/user/chat/{id}(id=${contact.id})}">
                <div class="content">
                    <div class="details">
                        <span th:text = "${contact.firstName}+' '+${contact.LastName}">
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>
</body>
</html>